*DS_Store*

._*
**/.sass-cache/**
**/.__*.scss
*.css.map

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Garbage files
.DS_Store

# debug log
*.log

# 컴파일된 파일들의 폴더
dist/

# hologram 생성시 쓰이는 파일들
wsg/

# scssdoc 생성시 쓰이는 파일들
docs/

src/html/test.html
