.paging-wrap{
  flex: 0 0 $paging-height;
  margin-top: $paging-top-space;
  font-size: 0;
  display: flex;
  justify-content: center;
  a{
    @include bd;
    @include vtext(31px, 27px, 30px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $font-size-base;
    &.active{
      @extend %bold;
      border-color: $paging-active-color;
      position: relative;
    }
    &.first{
      &:before{
        content:'';
        @extend %sprite;
        @include sprite($first-image);
      }
    }
    &.prev{
      margin-right: $paging-prev-space;
      &:before{
        content:'';
        @extend %sprite;
        @include sprite($prev-image);
      }
    }
    &.next{
      margin-left: $paging-next-space;
      &:before{
        content:'';
        @extend %sprite;
        @include sprite($next-image);
      }
    }
    &.last{
      &:before{
        content:'';
        @extend %sprite;
        @include sprite($last-image);
      }
    }
  }
}