.scroll{
  overflow-y: auto;
}

.sr-only{
  @include sr-only();
}

.inner{
  @extend %inner;
}

.ac{
  text-align: center;
}

.al{
  text-align: left;
}

.ar{
  text-align: right;
}

.block{
  width: 100%;
}

.file:hover,
.underline:hover{
  text-decoration: underline;
}