.scroll{
  overflow-y: auto;
}

.sr-only{
  @include sr-only();
}

.inner{
  @extend %inner;
}

.ac{
  text-align: center;
}

.al{
  text-align: left;
}

.ar{
  text-align: right;
}

.block{
  width: 100%;
}

.file:hover,
.underline:hover{
  text-decoration: underline;
}

/* noto-sans-kr-300 - */
@font-face {
  font-family: 'Noto-light';
  font-style: normal;
  font-weight: 300;
  src: url('/dist/fonts/NotoSansKR-Light-Hestia.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Light'), local('NotoSans-Light'),
        url('/dist/fonts/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/dist/fonts/NotoSansKR-Light-Hestia.woff') format('woff'), /* Modern Browsers */
        url('/dist/fonts/NotoSansKR-Light-Hestia.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-400 */
@font-face {
  font-family: 'Noto-regular';
  font-style: normal;
  font-weight: 400;
  src: url('/dist/fonts/NotoSansKR-Regular-Hestia.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('/dist/fonts/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/dist/fonts/NotoSansKR-Regular-Hestia.woff') format('woff'), /* Modern Browsers */
        url('/dist/fonts/NotoSansKR-Regular-Hestia.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-500 - */
@font-face {
  font-family: 'Noto-medium';
  font-style: normal;
  font-weight: 500;
  src: url('/dist/fonts/NotoSansKR-Medium-Hestia.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
        url('/dist/fonts/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/dist/fonts/NotoSansKR-Medium-Hestia.woff') format('woff'), /* Modern Browsers */
        url('/dist/fonts/NotoSansKR-Medium-Hestia.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-700 - */
@font-face {
  font-family: 'Noto-bold';
  font-style: normal;
  font-weight: 700;
  src: url('/dist/fonts/NotoSansKR-Bold-Hestia.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('/dist/fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/dist/fonts/NotoSansKR-Bold-Hestia.woff') format('woff'), /* Modern Browsers */
        url('/dist/fonts/NotoSansKR-Bold-Hestia.ttf') format('truetype'), /* Safari, Android, iOS */
}