/// float 해제
/// @access public
/// @group extend
/// @author bootstrap
/// @example scss - Scss
///		.foo {
///			@extend %clearfix
///		}
/// @example css - Compile css
///   .foo:after {
///     content: "";
///     display: table;
///     clear: both;
///   }

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
