/// 텍스트 세로 정렬
/// @access public
/// @group Mixin
/// @param {Number} $height [null] - 높이값
/// @param {Number} $line-height [$height] - 행간
/// @param {Number} $width [null] - 넓이값 ( 넓이값이 필요한 경우))
/// @example scss - Scss
///		.foo {
///			@include vtext(20px)
///		}
///		.bar{
///			@include vtext(20px,18px)
///		}
/// @example css - Compile css
///   .foo {
///     height: 20px;
///     line-height: 20px;
///   }
///   .bar {
///     height: 20px;
///     line-height: 18px;
///   }
///

@mixin vtext($height, $line-height: $height, $width: null){
  height: $height;
  line-height: $line-height;
  @if($width){
    width: $width;
  }
}
